body{
    background-color: #e3dbdb;
    color: white;
}

.canvas{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.boxes{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.button{
    width: 80px;
    height: 80px;
    cursor: pointer;
}
#gray{
    background-color: gray;
}
#white{
    background-color: white;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}